@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
#message-container {
    width: 80%;
    max-width: 1200px;
    padding-bottom: 10px;
    overflow:auto;
}
#message-container div {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}
#message-container div:last-child {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50%;
}
.send {
    position: fixed;
    width: 80%;
    bottom: 0;
    max-width: 1200px;
    padding-bottom: 10px;
    overflow:auto;
}
/*
#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
}
*/
#send-container {
    position: fixed;
    padding-bottom: 40px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
}
#send-container:not(.dark) {
    background-color: #fff!important;
    color: #222;
}
#message-input {
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}
.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: #fff!important;
  border-color: #808080;
  color: #222;
}
hr {
    border: 1px solid #808080;
    color: #808080;
    margin: 1px;
}
.form-control.dark,
.form-control:active.dark,
.form-control:focus.dark,
.form-control:focus:active.dark {
  background-color: #222!important;
  border-color: #808080;
  color: #fff;
}
#send-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    display: inline-block;
    margin: 0;
}
.dark{
    background-color: #222;
    color: #fff;
}
.no-bg {
    background: transparent;
}
.mode:hover {
    cursor: ew-resize;
}